{% extends 'generales/base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} Página Nuevo Cliente {% endblock titulo %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Crear nuevo cliente
    </div>
    <div class="card-body">
        <h4 class="card-title">Cliente</h4>
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{form.nombre|as_crispy_field}}
            {{form.apellido_paterno|as_crispy_field}}
            {{form.apellido_materno|as_crispy_field}}

            {% if form.foto.value %}
            <img src="{{MEDIA_URL}}/imagenes/{{form.foto.value}}" alt="" width="80"/>
            {% endif %}
            {{form.foto|as_crispy_field}}
            {{form.lenguaje|as_crispy_field}}
            {{form.sistema_operativo|as_crispy_field}}
            {{form.area|as_crispy_field}}

            <br/>
            <input name="btn-guardar" id="btn-guardar" class="btn btn-success" type="submit" value="Guardar"/>
            <a name="btn-cancelar" id="btn-cancelar" class="btn btn-primary"
               href="{% url 'clientes_app:lista_clientes' %}" role="button">Cancelar</a>
        </form>
    </div>
</div>

{% endblock contenido %}