# .gitignore

# Entornos virtuales
venv/
env/
.venv/
pyvenv.cfg
/section_27-38_django/development/

# Archivos generados por entornos virtuales
pip-selfcheck.json
/Enviroments/development
/section_27-38_django/development/
