{% extends 'blank.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block titulo%} Lista Personas {%endblock titulo%}

{%block content%}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Persona</h4>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}

            {{form.nombre | as_crispy_field}}
            {{form.apellido_paterno | as_crispy_field}}
            {{form.apellido_materno | as_crispy_field}}
            {{form.estado | as_crispy_field}}

            {% if form.foto.value %}
            <img src="{{MEDIA_URL}}/imagenes/{{form.foto.value}}" alt="" width="80"/>
            {% endif %}
            {{form.foto | as_crispy_field}}
            <br/>
            {{form.area | as_crispy_field}}
            <br/>
            {{form.estudios | as_crispy_field}}
            <br/>
            {{form.carrera | as_crispy_field}}
            <br/>
            {{form.usuario | as_crispy_field}}
            <br/>

            <input name="btn-guardar" id="btn_guardar" class="btn btn-success" type="submit" value="Guardar"/>
            <a name="btn-cancelar" id="btn_cancelar" class="btn btn-primary" href="{% url 'personal_app:lista_personal' %}">Cancelar</a>

        </form>
    </div>
</div>

{%endblock content%}