{% extends 'blank.html' %}
{% load static %}
{%block titulo%} Home Personal {%endblock titulo%}

{%block content%}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido al Sistema Personal</h1>
        <p class="col-md-8 fs-4">Sección Personal</p>
        <a name="" id="" class="btn btn-primary btn-lg" href="{% url 'personal_app:lista_personal'%}" role="button">Listado de Personal</a>
    </div>
</div>

{%endblock content%}

